<a href="https://colab.research.google.com/github/Mumo-vicky/IP_Week_3/blob/master/Data_Analysis_and_Preparation_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#importing the needed libraries for the preparation and analysis
import pandas as pd
import numpy as np
import datetime

In [ ]:
#loading our file as a dataframe
#changing the names of some columns to suitable names
#changing the character of the columns to small letters
#dropping any duplicates that may be in the dataset
#displaying the dataframe
cells_df = pd.read_csv("cells_geo.csv" , sep=';' , quotechar='"' , encoding='utf8')
cells_df = cells_df.rename(columns={'SITE_CODE':'SITE_ID','VILLES':'CITY'})
cells_df.columns = map(str.lower, cells_df.columns)
cells_df = cells_df.drop_duplicates()
cells_df

In [ ]:
#loading our file as a dataframe
#changing the names of some columns to suitable names
#changing the character of the columns to small letters
#dropping any duplicates that may be in the dataset
#displaying the dataframe
telcom1_df = pd.read_csv("Telcom_dataset.csv")
telcom1_df = telcom1_df.rename(columns={'PRODUTC': 'PRODUCT', 'DATETIME':'DATE_TIME' , 'DW_A_NUMBER_INT':'DW_A_NUMBER' , 'DW_B_NUMBER_INT':'DW_B_NUMBER'})
telcom1_df.columns = map(str.lower, telcom1_df.columns)
telcom1_df = telcom1_df.drop_duplicates()
telcom1_df

In [40]:
#loading our file as a dataframe
#changing the character of the columns to small letters
#dropping any duplicates that may be in the dataset
#displaying the dataframe
telcom2_df = pd.read_csv("Telcom_dataset2.csv")
telcom2_df.columns = map(str.lower, telcom2_df.columns)
telcom2_df = telcom2_df.drop_duplicates()
telcom2_df

     product  value              date_time  ... country_b     cell_id     site_id
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN

[4923 rows x 10 columns]

In [41]:
#loading our file as a dataframe
#changing the names of some columns to suitable names
#changing the character of the columns to small letters
#dropping any duplicates that may be in the dataset
#displaying the dataframe
telcom3_df = pd.read_csv("Telcom_dataset3.csv")
telcom3_df = telcom3_df.rename(columns={'DW_A_NUMBER_INT':'DW_A_NUMBER' , 'DW_B_NUMBER_INT':'DW_B_NUMBER' , 'CELLID':'CELL_ID' , 'SIET_ID':'SITE_ID'})
telcom3_df.columns = map(str.lower, telcom3_df.columns)
telcom3_df = telcom3_df.drop_duplicates()
telcom3_df

     product  value              date_time  ... country_b     cell_id     site_id
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4908 rows x 10 columns]

In [43]:
#joining the dataframes vertically
#dropping the indexes and incorporating a fresh one as they tend to repeat themselves
#displaying the new dataset
all_telcom_df = pd.concat([telcom1_df, telcom2_df, telcom3_df], axis=0)
all_telcom_df = all_telcom_df.reset_index(drop=True)
all_telcom_df

      product  value              date_time  ... country_b     cell_id     site_id
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...  ...       ...         ...         ...
14745   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
14746   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14747   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
14748   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
14749   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [44]:
#creating an inner join for the telcom datasets and the cells dataset
#changing the date_time colum datatype to datetime for easy operation with pandas
merge_df = pd.merge(all_telcom_df,cells_df,on="site_id", how='inner',suffixes=('_telcom','_cells'))
merge_df['date_time'] = pd.to_datetime(merge_df.date_time)
merge_df

      product  value  ...           area cell_id_cells
0         sms      0  ...   CENTRE NORTH    24ccdda3d5
1         sms      0  ...   CENTRE NORTH    ebfc58af70
2         sms      0  ...   CENTRE NORTH    ba8ce6e4ef
3         sms      0  ...   CENTRE NORTH    c2545171dc
4         sms      0  ...   CENTRE NORTH    f15bd5483f
...       ...    ...  ...            ...           ...
50313   Voice     17  ...  ABIDJAN NORTH    c179f33d5e
50314   Voice     17  ...  ABIDJAN NORTH    0a3f751619
50315     sms      0  ...   CENTRE NORTH    0427a26d34
50316     sms      0  ...   CENTRE NORTH    7c72293cf2
50317     sms      0  ...   CENTRE NORTH    be18b5b981

[50318 rows x 21 columns]

In [ ]:
mergenew = merge_df.loc[merge_df.localisation != "ABIDJAN", "localisation"] = "NOT ABIDJAN"
merge_df.localisation

In [ ]:
mergenew = merge_df.loc[merge_df.status != "In Service", "status"] = "Not In Service"
merge_df.status

In [36]:
merge_df['city'].value_counts().sort_values(ascending=False)

YOPOUGON         8549
ABOBO            6159
COCODY           3716
ADJAME           2655
KOUMASSI         2275
                 ...
MOUSSADOUGOU        3
NGATTADOLIKRO       3
SAMO                3
DANANON             2
KOTOULA             2
Name: city, Length: 400, dtype: int64

In [38]:
merge_df['product'].value_counts().sort_values(ascending=False)

sms      29052
Voice    21266
Name: product, dtype: int64